{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma-tooltip.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block css_imports %}
    {% endblock css_imports %}
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock content %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4ce79f6cc0.js"></script>
{% block js_imports %}
{% endblock js_imports %}

<footer class="footer">
  <div class="content has-text-centered">
    <p>
        Mindsmiths © {% now "Y" %}
    </p>
  </div>
</footer>
</body>
</html>
