.env
.env.production
dependencies/

*.log
*.swp
*.pyc
*.py~
*.orig
__pycache__/
.factorypath
.idea/
.vscode/
.theia/
venv/
Pipfile*
tags
err
.docs/
data/
bin/
var/
get-pip.py
requirements.lock
package-lock.json

*secrets.yaml
secrets
tags.temp
target/
