// Set your brand colors
$yellow: #f9c784;
$gray: #d7d7d7;
$lightgray: #f7f7f7;
$darkgray: #3E3E3E;
$shadow-basic: 0px 4px 10px rgba(0, 0, 0, 0.2);

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$grey-dark: $darkgray;
$grey-light: $lightgray;
$primary: $yellow;

// Update some of Bulma's component variables
$body-background-color: $grey-light;
$body-color: $grey-dark;
$control-border-width: 2px;
// $input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
